.repayment-table-v2 {
  overflow: scroll;
}

.repayment-table-v2 table {
  width: 100%;
  box-sizing: border-box;
  margin: 1rem 0;
  padding: 0;
  border: none;
  border-collapse: collapse;
  text-align: left;
  font-size: 0.9375rem;
}
@media screen and (min-width: 24rem) {
  .repayment-table-v2 table {
    font-size: 1rem;
  }
}

.repayment-table-v2 tr {
  padding: 0;
}
.repayment-table-v2 tbody tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.05);
}

.repayment-table-v2 th,
.repayment-table-v2 td {
  padding: 0.5em;
  border-bottom: 1px solid #999;
}
@media screen and (min-width: 30rem) {
  .repayment-table-v2 th,
  .repayment-table-v2 td {
    padding: 1em;
  }
}

.repayment-table-v2 thead th {
  border-bottom: 2px solid #777;
  vertical-align: top;
}

.repayment-table-v2 td {
  font-variant-numeric: tabular-nums;
}

.repayment-table-v2 tfoot th,
.repayment-table-v2 tfoot td {
  background: rgba(255, 255, 255, 0.4);
}
